.container {
	width: 100%;
	height: calc(100vh - 50px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 10px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.formContainer input {
	height: 40px;
	width: 100%;
	outline: none;
	border: 1px solid teal;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
}
.formData {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: relative;
}
.obscureText {
	position: absolute;
	color: teal;
	right: 0;
	padding: 5px;
}
.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-align: center;
}
.caption {
	color: teal;
	margin-top: 5px;
}
.socialAuth > p {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: rgb(212, 212, 212);
	padding: 5px;
	margin: 10px 0px;
	border-radius: 5px;
	justify-content: center;
}
.popup {
	color: white;
	position: absolute;
	width: 80%;
	height: 200px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 41, 41, 0.744);
	border-radius: 10px;
	padding: 10px;
	margin: auto;
}
.popup .formContainer {
	margin-top: 20px;
}
.close {
	margin: 10px;
	color: white;
	right: 0;
	top: 0;
	position: absolute;
}
