.container {
	width: 100%;
	height: calc(100vh - 50px);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.formContainer input {
	height: 40px;
	width: 100%;
	outline: none;
	border: 1px solid teal;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
}
.formData {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
	position: relative;
}
.obscureText {
	position: absolute;
	color: teal;
	right: 0;
	padding: 5px;
}
.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	text-align: center;
}
.caption {
	color: teal;
	margin-top: 5px;
}

.socialAuth > p {
	display: flex;
	gap: 10px;
	align-items: center;
	background-color: rgb(212, 212, 212);
	padding: 5px;
	margin: 10px 0px;
	border-radius: 5px;
	justify-content: center;
	cursor: pointer;
}

.info {
	text-align: center;
}
.google {
	cursor: "pointer";
}
.disablegooglebtn {
	opacity: 0.6; /* Visual feedback for disabled state */
	pointer-events: none; /* Prevent clicks */
}
